{% extends 'layout.html' %}
{% block title%}Titulo de la pagina
{% endblock %}
{% block body%}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="check2" viewBox="0 0 16 16">
            <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
        </symbol>
        <symbol id="circle-half" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
        </symbol>
        <symbol id="moon-stars-fill" viewBox="0 0 16 16">
            <path
                d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z" />
            <path
                d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z" />
        </symbol>
        <symbol id="sun-fill" viewBox="0 0 16 16">
            <path
                d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
        </symbol>
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (auto)">
            <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
                <use href="#circle-half"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#sun-fill"></use>
                    </svg>
                    Light
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    aria-pressed="false">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#moon-stars-fill"></use>
                    </svg>
                    Dark
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                    aria-pressed="true">
                    <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                        <use href="#circle-half"></use>
                    </svg>
                    Auto
                    <svg class="bi ms-auto d-none" width="1em" height="1em">
                        <use href="#check2"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>



        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img
                    src="{{ url_for('static', filename='img/7372a773d9c9a4fb62291e3f4aaebca8.png') }}"
                    class="imgCarousel"/>
                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>"Every race is a war. Every race is a fight"</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img
                    src="{{ url_for('static', filename='img/beneficios-del-ciclismo-0-120465291_m-2048x1365.jpg') }}"
                    class="imgCarousel"/>
                </div>
                <div class="carousel-item">
                    <img
                    src="{{ url_for('static', filename='img/R.png') }}"
                    class="imgCarousel"/>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <img
                    src="{{ url_for('static', filename='img/seg.jpg') }}"
                    width="140"
                    height="140"
                    class="bd-placeholder-img rounded-circle"
                  />
                    <h2 class=" SC fw-normal"> SECURITY</h2>
                    <p>In this space you can guide yourself on the safe areas to drive and the respective safety when
                        driving </p>
                    <p><a class=" vd btn btn-secondary" href="#security">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img
                    src="{{ url_for('static', filename='img/comunidad.png') }}"
                    width="140"
                    height="140"
                    class="bd-placeholder-img rounded-circle"
                  />
                    <h2 class="fw-normal"> COMUNITY </h2>
                    <p>Here you can communicate with other cyclists and see their suggestions in the places </p>

                    <p><a class=" vd btn btn-secondary" href="#Comunity">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img
                    src="{{ url_for('static', filename='img/ciclovias.jfif') }}"
                    width="140"
                    height="140"
                    class="bd-placeholder-img rounded-circle"
                  />
                   
                    <h2 class="fw-normal"> CICLE TRACKS</h2>
                    <p>Places in which there are exclusive routes and routes for cycling</p>
                    <p><a class="vd btn btn-secondary" href="#cicletracks">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider" id="security">

            <div class="security row featurette">
                <div class="col-md-7">
                    <h2 class=" S2 lh-1">SECURITY</h2>
                    <br>
                    <br>
                    <h3 class="lh-1"> Personal Safety </h3>
                    <p>Although a safe bike ride also depends on external conditions, the essential thing is to be
                        protected. Safety for cyclists starts with the cyclist, so personal safety is a priority. No
                        matter what type of cycling you practice, these recommendations apply before, during and after
                        the tour.</p>
                    <ul>
                        <li>– Plan the route: Planning your route is crucial, whether in city or countryside,
                            considering mileage and height to ensure a smooth and efficient journey</li>
                        <li>– Have a map: Ensure to have a map of your destination, whether printed or electronic, and
                            ensure your cell phone has sufficient battery life and WiFi.</li>
                        <li>– Check the conditions of the bicycle: Check the brakes, make sure that the tires are
                            inflated and do not have any type of hole. It is recommended to do a general review every 6
                            months.</li>
                        <li>– Bring a tool and first aid kit: Whether you need to do some emergency repair, or have a
                            minor accident along the way. It is always important to take these two kits with us when
                            cycling.</li>

                    </ul>

                </div>
                <div class="col-md-5">
                    <img
                    src="{{ url_for('static', filename='img/equipo_de_seguridad_ciclismo_urbano.png') }}"
                    width="500"
                    height="500"
                    class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                  />

                </div>



                <div class="security row featurette" id="Comunity">
                    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
                        <div class="row align-items-center g-lg-5 py-5">
                            <div class="col-lg-7 text-center text-lg-start">
                                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">¡JOIN OUR COMMUNITY!</h1>
                                <p class="col-lg-10 fs-4"> Enter our community os ciclists and enjoy the opinions and
                                    trips </p>
                            </div>
                            <div class="col-md-10 mx-auto col-lg-5">
                                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" id="floatingInput"
                                            placeholder="name@example.com">
                                        <label for="floatingInput">Email address</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" class="form-control" id="floatingPassword"
                                            placeholder="Password">
                                        <label for="floatingPassword">Password</label>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" value="remember-me"> Remember me
                                        </label>
                                    </div>
                                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                                    <hr class="my-4">
                                    <small class="text-body-secondary">By clicking Sign up, you agree to the terms of
                                        use.</small>
                                </form>
                            </div>
                        </div>
                    </div>

                    <hr class="featurette-divider" id="cicletracks">

                    <div class=" CT row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading fw-normal lh-1">CICLE TRACKS </h2>
                            <p class="lead">Here you can find different routes where you can discover new places and
                                landscapes.</p>
                        </div>

                        <div class="google_ruta">

                            
                           
                        </div>
                       
                        


                    </div>

                    <hr class="featurette-divider">

                    <!-- /END THE FEATURETTES -->

    


    <h1 style="margin-top: 50px;">Deja tu comentario</h1>

    <!-- Formulario para el comentario -->
    <form id="formulario-comentario">
        <label for="nombre">Titulo:</label><br>
        <input type="text" id="titulo" name="nombre"><br><br>
        <input type="text" style="display: none;" id="id_user" value="{{id_user}}">
        <label for="comentario">Comentario:</label><br>
        <textarea id="contenido" name="comentario" rows="4" cols="50"></textarea><br><br>

        <input class="btn btn-lg btn-primary" style="margin: 10px;" type="submit" value="Enviar">
    </form>
    <hr class="featurette-divider">

    <!-- Mostrar comentarios anteriores -->
    <h2 style="text-align: center;">Comentarios anteriores:</h2>
    <div class="container" id="comentarios-section">

        <ul id="comentarios-lista"></ul>

    </div>
    <script>

        const formularioComentario = document.getElementById('formulario-comentario');
        formularioComentario.addEventListener('submit', (event) => {

            event.preventDefault();
            const titulo = document.getElementById('titulo').value;
            const contenido = document.getElementById('contenido').value;
            const id_user = document.getElementById('id_user').value;
            const datos = { id_usuario: id_user, contenido: contenido, titulo: titulo };
            fetch('/api_comentarios/savecomentario', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(datos)
            })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error(error));
        });
        const tablaComentarios = document.getElementById('comentarios-lista');
        tablaComentarios.innerHTML = '';
        obtenerComentarios();
    </script>
      

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="{{url_for('static', filename='/js/comentarios/obtener.js')}}"></script>
    <script src="{{url_for('static', filename='/js/comentarios/eliminar.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </script>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

{% endblock %}